$Primary: #9356DC;
$Secondary: #FF79DA;
$Tertiary: #99E2D0;
$DarkerGrey: #EAEAEA;
$Grey: #F6F6F6;
$DarkestGrey: #363636;
$DarkerGreen: #158767;
$ButtonGradient: linear-gradient(175deg, #ff79da 22%, #9356dc 62%);
$ButtonGradient2: linear-gradient(121deg, rgba(255,121,218,1) 5%, rgba(150,87,220,1) 100%);



