@forward "global";
@forward "util";
@forward "layouts";

@use './global';

.main {
    
    &__title {
        font-family: global.$logo;
        text-align: center;
        border-bottom: thin solid global.$DarkerGrey;
        margin-bottom: 0;


    }

    &__location {
        background-color: global.$DarkerGrey;
        border-bottom: thin solid global.$DarkerGrey;

        i, p {
            padding-top: 1rem;
            padding-bottom: 1.1rem;
        }

        p {
            padding-left: .8rem;
            font-weight: 700;
            
            
        
        }

        i {
            padding-right: .2rem;
        }
    }
    
    &__presentation {
        background-color: global.$Grey;

        &--title {
            padding-top: 3rem;
            font-weight: 700;
            text-align: center;
            font-size: 1.5rem;
        }

        &--subtitle {
            padding-top: 3rem;
            padding-bottom: 2.1875rem;
            font-weight: 300;
            text-align: center;
            margin-inline: auto;
        }

        &--button {
            padding: .8rem 1rem;
            border: thin solid transparent;
            border-radius: 2rem;
            background: global.$ButtonGradient2;
            color: white;
            width: 40%;
            letter-spacing: 00.02rem;
            margin-bottom: 3.75rem;
            -webkit-box-shadow: 3px 5px 12px 4px rgba(0,0,0,0.29); 
            box-shadow: 3px 5px 12px 4px rgba(0,0,0,0.29);

            &:hover {
                background:linear-gradient(121deg, rgba(255,121,218,1) 0%, rgba(150,87,220,0.8534007352941176) 100%);
                -webkit-box-shadow: 3px 5px 12px 4px rgba(0,0,0,0.41); 
                box-shadow: 3px 5px 12px 4px rgba(0,0,0,0.41);
                cursor: pointer;
            }

        }
    }



}

.usability {

    &__title {
        font-weight: 700;
        padding-top: 3.125rem;
        padding-left: 1.25rem;
        padding-bottom: 2rem;
        font-size: 1.5rem;
    }

    &__buttons.flex-c-ai-c {
        gap: 1.25rem;
        align-items: flex-start;
        padding-left: 1.25rem;
    }

    &__buttons {
        
        
        &--decor {
            width: 95%;
            background: global.$Grey;
            border: thin solid transparent;
            border-radius: 1.8rem;
            padding: 1.2rem;
        }

        &--decor.flex-jc-c {
            justify-content: flex-start;

            span {
                position: relative;
                right: 1.8rem; 
                color: white;
                border: thin solid transparent;
                border-radius: 3rem;
                background-color: global.$Primary;
                padding: .5rem 0.8rem;
            }

            i {
             position: relative;
             top: 1rem;   
             right: .8rem;
            }

            span {
                font-weight: 700;
                font-size: .9rem;
                position: relative;
                top: .6rem;
            }

            &:hover {
                background: #f5edff;
                i {
                    color: global.$Primary;
                }
            }
        }

        &--decor.flex-jc-c:last-child {
            margin-bottom: 6.25rem;
        }

    }

}

.resturants-menu {
    background-color: global.$Grey;

    &__title {
        font-weight: 700;
        font-size: 1.5rem;
        padding-left: 1.25rem;
        padding-top: 3.75rem;
        padding-bottom: 1.6875rem;

    }

    &__cards.flex-c-ai-c a, a:visited, a:hover, a:active, a:focus {
        color: black;
    }

    &__cards.flex-c-ai-c {
        gap: 1.125rem;
        
        
    }

    &__cards--img {
        width: 80%;
        border: thin solid transparent;
        border-radius: 2rem;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        height: 70%;

        & img {
            -o-object-fit: cover;
            object-fit: cover;
            height: 70%;
            width: 100%;
            border-top-left-radius: 0.9rem;
            border-top-right-radius: 0.9rem;
            position: relative;
            -webkit-box-shadow: 6px 0px 15px 5px rgba(0,0,0,0.24); 
            box-shadow: 6px 0px 15px 5px rgba(0,0,0,0.24);
        }

        & span {
            color: global.$DarkerGreen;
            font-weight: 700;
            background-color: global.$Tertiary;
            height: 8%;
            text-align: center;
            border: thin solid transparent;
            padding: 0.625rem 1.5625rem 0.625rem;
            position: absolute;
            right: 6rem;
            top: 2rem;
            display: flex;
            justify-content: center;
            align-items: center;
            
        }
            
            
    }
}

.resturants-menu__cards--description.flex-c-ai-c:last-child{

    margin-bottom: 4.0625rem;
}

.resturants-menu__cards--description.flex-c-ai-c {
    gap: 0.8125rem;
    align-items: flex-start;
    padding-left: 0.875rem;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    padding-top: 1.5rem;
    border: thin solid transparent;
    border-bottom-left-radius: 0.9rem;
    border-bottom-right-radius: .9rem;
    height: 30%;
    -webkit-box-shadow: 0px 5px 15px 5px rgba(0,0,0,0.24); 
    box-shadow: 0px 5px 15px 5px rgba(0,0,0,0.24);


}

.resturants-menu__cards--img .grid-item-card {
    grid-column: 1 / 4;
    grid-row: 1 / 4;
    height: 100%;
}

.resturants-menu__cards--img .grid-item-card-b {
    grid-column: 3/4;
    grid-row: 1/2;
    height: 2.25rem;
    transform: translate(4.375rem, -0.3125rem);
}

.resturants-menu__cards--description {
    background-color: white;
    position: relative;

    i.fa-solid.fa-heart.fa-2xl {
        align-self: flex-end;
        position: relative;
        right: 00.875rem;
        bottom: 2.5rem;
        -webkit-transition: color 2s ease-out;
        -moz-transition: color 2s ease-out;
        -o-transition: color 2s ease-out;
        transition: color 2s ease-out;
    }

    i.fa-solid.fa-heart.fa-2xl:hover {
        color: global.$Primary;
        cursor: pointer;
    }

}

.resturnats-menu__cards--title {
    font-weight: 700;
    font-size: 1.2rem;
}






        
    



